.popup__close-btn {
  position: fixed;
  top: calc((100vh / 2) - 162px - 36px);
  right: calc((100vw / 2) - 141px);
  padding: 0;
  border: none;
  background: transparent;
  background-image: url(../../../images/Close_Button.svg);
  background-size: contain;
  width: 20px;
  height: 20px;
  z-index: 3;
  transition: 0.5s;
}

.popup__close-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 619px) {
  .popup__close-btn {
    width: 32px;
    height: 32px;
    top: calc((100vh / 2) - 169px - 40px);
    right: calc((100vw / 2) - 215px - 40px);
  }
}